

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

p {
    margin-bottom: 8px;
}

p:last-child {
    margin-bottom: 0;
}

.bg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn,
button {
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    background-color: transparent;
}

.btn:active,
.btn:focus,
button:active,
button:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.slick-slider .slick-slide>div>div {
    vertical-align: middle;
}

.slick-arrow-style button.slick-arrow {
    top: 50%;
    left: 0;
    font-size: 70px;
    color: #777777;
    cursor: pointer;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.slick-arrow-style button.slick-arrow.slick-next {
    left: auto;
    right: 0;
}

.slick-arrow-style button.slick-arrow:hover {
    color: #c29958;
}

.slick-arrow-style:hover button.slick-arrow {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

.slick-arrow-style:hover button.slick-arrow.slick-prev {
    left: -60px;
    right: auto;
}

@media only screen and (min-width: 1200px) and (max-width: 1499.98px),
only screen and (min-width: 992px) and (max-width: 1199.98px),
only screen and (min-width: 768px) and (max-width: 991.98px),
only screen and (max-width: 767.98px) {
    .slick-arrow-style:hover button.slick-arrow.slick-prev {
        left: -20px;
    }
}

.slick-arrow-style:hover button.slick-arrow.slick-next {
    left: auto;
    right: -60px;
}

@media only screen and (min-width: 1200px) and (max-width: 1499.98px),
only screen and (min-width: 992px) and (max-width: 1199.98px),
only screen and (min-width: 768px) and (max-width: 991.98px),
only screen and (max-width: 767.98px) {
    .slick-arrow-style:hover button.slick-arrow.slick-next {
        right: -20px;
    }
}

.slick-arrow-style_hero button.slick-arrow {
    font-size: 60px;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: transparent;
    z-index: 1;
}

.slick-arrow-style_hero button.slick-arrow.slick-next {
    right: 0;
}

.slick-arrow-style_hero button.slick-arrow:hover {
    color: #c29958;
    background-color: transparent;
}

.slick-arrow-style_hero:hover button.slick-arrow.slick-next {
    right: 15px;
}

.slick-arrow-style_hero:hover button.slick-arrow.slick-prev {
    left: 15px;
}

.slick-append {
    background-color: #fff;
    z-index: 2;
    margin-top: -2px;
}

.slick-append button {
    font-size: 30px;
    line-height: 1;
    position: inherit;
    display: inline-block;
    background-color: transparent;
    color: #555555;
}

.slick-append button:hover {
    color: #c29958;
}



.hero-slider-item {
    height: 530px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
only screen and (max-width: 767.98px) {
    .hero-slider-item {
        height: 400px;
    }
}

@media only screen and (max-width: 575.98px) {
    .hero-slider-item {
        height: 350px;
    }
}

@media only screen and (max-width: 767.98px) {
    .hero-slider-content {
        padding-right: 150px;
    }
}

@media only screen and (max-width: 575.98px) {
    .hero-slider-content {
        padding-right: 90px;
    }
}

@media only screen and (max-width: 479.98px) {
    .hero-slider-content {
        padding-right: 0;
    }
}

.hero-slider-content .slide-title {
    font-size: 60px;
    font-weight: normal;
    line-height: 1;
}

.hero-slider-content .slide-title span {
    display: block;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .hero-slider-content .slide-title {
        font-size: 50px;
    }
}

@media only screen and (max-width: 767.98px) {
    .hero-slider-content .slide-title {
        font-size: 40px;
        line-height: 1.2;
    }
}

@media only screen and (max-width: 575.98px) {
    .hero-slider-content .slide-title {
        font-size: 35px;
    }
}

@media only screen and (max-width: 479.98px) {
    .hero-slider-content .slide-title {
        font-size: 30px;
    }
}

.hero-slider-content .slide-desc {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
    color: #555555;
    padding-top: 20px;
}

@media only screen and (max-width: 575.98px) {
    .hero-slider-content .slide-desc {
        padding-top: 10px;
    }
}

.btn-hero {
    color: #fff;
    font-size: 15px;
    line-height: 1;
    padding: 14px 30px;
    display: inline-block;
    border-radius: 50px;
    background-color: #c29958;
    margin-top: 38px;
}

@media only screen and (max-width: 575.98px) {
    .btn-hero {
        margin-top: 25px;
    }
}

.btn-hero:hover {
    color: #fff;
    background-color: #222222;
}

.hero-overlay {
    position: relative;
}

.hero-overlay:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    display: none;
}

@media only screen and (max-width: 767.98px) {
    .hero-overlay:before {
        display: block;
    }
}

/*------ hero slider area css end ------*/
.slick-active .hero-slider-content.slide-1 h2 {
    -webkit-animation: bounceIn 2s linear alternate;
    animation: bounceIn 2s linear alternate;
}

.slick-active .hero-slider-content.slide-1 h4 {
    -webkit-animation: zoomIn 1s linear alternate;
    animation: zoomIn 1s linear alternate;
}

.slick-active .hero-slider-content.slide-1 a {
    -webkit-animation: slideInUp 0.5s linear alternate;
    animation: slideInUp 0.5s linear alternate;
}

.slick-active .hero-slider-content.slide-2 h2 {
    -webkit-animation: bounceIn 1.5s linear alternate;
    animation: bounceIn 1.5s linear alternate;
}

.slick-active .hero-slider-content.slide-2 h4 {
    -webkit-animation: fadeInLeft 1s linear alternate;
    animation: fadeInLeft 1s linear alternate;
}

.slick-active .hero-slider-content.slide-2 a {
    -webkit-animation: slideInUp 0.5s linear alternate;
    animation: slideInUp 0.5s linear alternate;
}

.slick-active .hero-slider-content.slide-3 h2 {
    -webkit-animation: fadeInUp 1000ms linear alternate;
    animation: fadeInUp 1000ms linear alternate;
}

.slick-active .hero-slider-content.slide-3 h4 {
    -webkit-animation: bounceIn 600ms linear alternate;
    animation: bounceIn 600ms linear alternate;
}

.slick-active .hero-slider-content.slide-3 a {
    -webkit-animation: fadeInUp 1400ms linear alternate;
    animation: fadeInUp 1400ms linear alternate;
}


