#MyBlog{

    position: fixed;  /*固定在網頁上不隨卷軸移動，若要隨卷軸移動用absolute*/
    
    top: 50%;  /*設置垂直位置*/
    
    right: -100px;  /*設置水平位置，依所放的內容多寡需要自行手動調整*/
    
    background: #ffffff;  /*背景顏色*/
    
    padding: 10px 20px;
    
    border-radius: 10px;  /*圓角*/
    
    -moz-border-radius: 10px;
    
    -webkit-border-radius: 10px;
    margin-top: -50px;
    }
    
    #MyBlog:hover{  /*當滑鼠移至此區塊時，伸縮區塊*/
    
    right: -10px;
    
    }
    
    #MyBlog #title{
    
    padding-right: 5px;  /*讓標題與連結中間有空隙*/
    
    }
#MyBlog1{

        position: fixed;  /*固定在網頁上不隨卷軸移動，若要隨卷軸移動用absolute*/
        
        top: 50%;  /*設置垂直位置*/
        
        right: -100px;  /*設置水平位置，依所放的內容多寡需要自行手動調整*/
        
        background: #ffffff;  /*背景顏色*/
        
        padding: 10px 20px;
        
        border-radius: 10px;  /*圓角*/
        
        -moz-border-radius: 10px;
        
        -webkit-border-radius: 10px;
        margin-top: 0px;
        }
        
        #MyBlog1:hover{  /*當滑鼠移至此區塊時，伸縮區塊*/
        
        right: -10px;
        
        }
        
        #MyBlog1 #title1{
        
        padding-right: 5px;  /*讓標題與連結中間有空隙*/
        
}
#MyBlog2{

    position: fixed;  /*固定在網頁上不隨卷軸移動，若要隨卷軸移動用absolute*/
    
    top: 50%;  /*設置垂直位置*/
    
    right: -100px;  /*設置水平位置，依所放的內容多寡需要自行手動調整*/
    
    background: #ffffff;  /*背景顏色*/
    
    padding: 10px 20px;
    
    border-radius: 10px;  /*圓角*/
    
    -moz-border-radius: 10px;
    
    -webkit-border-radius: 10px;
    margin-top: 50px;
    }
    
    #MyBlog2:hover{  /*當滑鼠移至此區塊時，伸縮區塊*/
    
    right: -10px;
    
    }
    
    #MyBlog2 #title2{
    
    padding-right: 5px;  /*讓標題與連結中間有空隙*/
    
    }
    #MyBlog3{

        position: fixed;  /*固定在網頁上不隨卷軸移動，若要隨卷軸移動用absolute*/
        
        top: 50%;  /*設置垂直位置*/
        
        right: -100px;  /*設置水平位置，依所放的內容多寡需要自行手動調整*/
        
        background: #ffffff;  /*背景顏色*/
        
        padding: 10px 20px;
        
        border-radius: 10px;  /*圓角*/
        
        -moz-border-radius: 10px;
        
        -webkit-border-radius: 10px;
        margin-top: 100px;
        }
        
        #MyBlog3:hover{  /*當滑鼠移至此區塊時，伸縮區塊*/
        
        right: -10px;
        
        }
        
        #MyBlog3 #title3{
        
        padding-right: 5px;  /*讓標題與連結中間有空隙*/
        
        }
        #MyBlog4{

            position: fixed;  /*固定在網頁上不隨卷軸移動，若要隨卷軸移動用absolute*/
            
            top: 50%;  /*設置垂直位置*/
            
            right: -100px;  /*設置水平位置，依所放的內容多寡需要自行手動調整*/
            
            background: #ffffff;  /*背景顏色*/
            
            padding: 10px 20px;
            
            border-radius: 10px;  /*圓角*/
            
            -moz-border-radius: 10px;
            
            -webkit-border-radius: 10px;
            margin-top: 150px;
            }
            
            #MyBlog4:hover{  /*當滑鼠移至此區塊時，伸縮區塊*/
            
            right: -10px;
            
            }
            
            #MyBlog4 #title4{
            
            padding-right: 5px;  /*讓標題與連結中間有空隙*/
            
            }